/* fonts............................ */
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Josefin+Slab:wght@600&display=swap');

/* variables............................ */
:root {
  --skydia: 'Gruppo', cursive;
  --def: 'Josefin Slab', serif;
}

.favourite-cities-container {
  background: linear-gradient(-45deg, #ee525225, #3c72e72a, #23cfd564, #23d5ab2a);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
	min-height: 100vh;
	z-index: -2;
}

.fav-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.city-select-container {
	display: flex;
	justify-content: center;
	text-align: center;
	z-index: 10;
	position: relative;
}

.city-select {
	max-width: 25rem !important;
}

.fav-wrapper div h1 {
	font-size: 5rem;
	margin-top: 5rem;
	margin-bottom: 5rem;
	text-align: center;
	font-family: var(--skydia);
	animation: colorChange 5s infinite;
}

.fav-weather-data {
	padding: 3rem 1rem;
	max-width: 40rem;
	z-index:1;
}

.fav-weather-data div {
	padding: 1rem 3rem;
	min-width: 20rem;
}

.fav-city-title {
	font-size: 2.5rem !important;
	font-family: var(--def) !important;
	animation: colorChange 5s infinite;
}

.fav-weather-data p {
	font-size: 1.5rem !important;
	font-family: var(--def) !important;
}

/* @keyframes............................ */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes colorChange{
  0% { color: #00d9ff;; }
  50% { color: #ff00f7; }
  100% { color: #00d9ff; }
}

/* @media..................................... */
@media screen and (max-width: 675px) {
  .fav-wrapper div h1 {
		font-size: 3rem;
	}
}

@media screen and (max-width: 400px) {
  .fav-wrapper div h1 {
		font-size: 2.5rem;
	}
}