/* fons................................................................... */
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Josefin+Slab:wght@600&display=swap');

:root {
  --skydia: 'Gruppo', cursive;
  --def: 'Josefin Slab', serif;
}

/* Body............................................................. */
.body-container {
  min-height: 100vh;
  display: flex;
}

.body-container2 {
  min-height: 100vh;
  display: flex;
  background: linear-gradient(-45deg, #e8e8e8, #f2f2f2, #f3f3f3, #e4e4e4);
  background-size: 400% 400%;
  animation: gradient2 30s ease infinite;
}

.body-container2 * {
  font-family: var(--def);
}

.body-wrapper {
  margin-top: 5rem;
}

.title-desc {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 4rem;
}

.search-wrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.search-wrapper * {
  font-family: var(--def) !important;
}

.search-wrapper input {
  max-width: 30rem !important;
}


.weather-container h1 {
  padding-top: 5rem;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 3rem;
}

.fav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.current-weather {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content p {
  font-size: 2rem;
}

.details {
  color: #6f0000;
}

.toast {
  margin-top: 2rem;
  height: 10rem;
}

.toast * {
  font-size: 1rem;
}

.modal-title span {
  font-size: 4rem;
  margin-top: 1rem;
  font-weight: 200;
  font-family: var(--skydia);
}

.modal-desc {
  font-family: var(--def);
  text-align: center;
}

.modal-button {
  display: flex;
  text-align: center;
  justify-content: center;
}

@keyframes gradient2 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* @media................................................................... */

@media screen and (max-width: 635px) {
  .toast * p {
    font-size: 0.9rem;
  }
  .weather-container h1 {
    font-size: 3rem;
  }
  .content p {
    font-size: 1.5rem;
  }
  .title-desc {
    font-size: 2rem;
  }
  .search-wrapper input {
    width: 30% !important;
  }
}